.headerContainer{
  border: 2px solid grey;
  border-radius: 15px;
  background-color: #b7b7a4;
}

.header {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  top: 0;
  padding: 1rem;
  font-size: 2em;
  color: #6b705c;
}
